*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
}

#principal{
    margin: 0 auto;
    margin-top: 50px;

    border-radius: 10px;

    width: 500px;
    height: 680px;
    text-align: center;

    background-color: #8a8b8b;
}


input#valores{
    width: 325px;
    height: 70px;

    font-size: 2em;
    text-align: right;
    color: rgb(95, 95, 95);

    margin-top: 17%;
    margin-bottom: 20px;
    padding-right: 15px;
}

input#valores:focus{
    outline: none;
}

input#valores:disabled{
    background-color: #fff;
    border:none;
}

#botoes-area{
    width: 340px;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#botoes{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}
#botoes > button.operador {
    background-color: rgb(228, 228, 228);
}

#botoes button.isDepressed{
    background-color: rgb(230, 207, 207);
}

#botoes button{
    background-color: #fff;

    display: grid;
    font-size: 1.5em;

    width: 84px;
    height: 84px;
    
    border: none;
    place-items: center;
}

#botoes button:hover{
    background-color: rgb(218, 218, 218);
}

button#igual{
    grid-row: span 3;
    height: 254px;
    color: #fff;
    background-color: #4ec76a;
}

button#igual:hover{
    background-color: #44b15e;
}

button#limpar{
    grid-column: span 2;
    width: 169px;

    color: #fff;
    background-color: #ac313f;
}

button#limpar:hover{
    background-color: #972e3a;
}



