*{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
}

#principal{
    margin: 0 auto;
    margin-top: 50px;

    border-radius: 10px;

    width: 450px;
    height: 650px;
    text-align: center;

    background-color: #8a8b8b;
}


input#valores{
    width: 325px;
    height: 70px;

    font-size: 2em;
    text-align: right;
    color: rgb(95, 95, 95);

    margin-top: 17%;
    margin-bottom: 20px;
    padding-right: 15px;
}

input#valores:focus{
    outline: none;
}

input#valores:disabled{
    background-color: #fff;
    border:none;
}

#botoes-area{
    width: 340px;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

#botoes{
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4, 1fr);
}
#botoes > button.operador {
    background-color: rgb(228, 228, 228);
}




#botoes button:active, #botoes button:focus{
    outline: none;
}

#botoes button{
    background-color: #fff;

    display: grid;
    font-size: 1.5em;

    width: 84px;
    height: 84px;
    
    border: none;
    place-items: center;
}

#botoes button:hover{
    background-color: rgb(218, 218, 218);
}

button#igual{
    grid-row: span 4;
    height: 339px;
    color: #fff;
    background-color: #6ad182;
}

button#igual:hover{
    background-color: #69c47e;
}

button#limpar{

    color: #fff;
    background-color: #c54251;
}

button#limpar:hover{
    background-color: #a0414c;
}

#botoes button.isDepressed, 
#botoes button.isDepressed:hover{
    box-shadow: inset 0px 0px 20px 3px rgb(114, 255, 177);
    
}



